.gradle/4.10.2/gc.properties
.gradle/4.10.2/fileChanges/last-build.bin
.gradle/4.10.2/fileHashes/fileHashes.bin
.gradle/4.10.2/fileHashes/fileHashes.lock
.gradle/nb-cache/pipeline-6714229/project-info.ser
.gradle/vcs-1/gc.properties
